<% if logged_in? %>
  <p>ログイン完了ユーザー：<%= current_user.name %></p>
  <h1>タスク一覧</h1>
    
  <!--</div>-->
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Your Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>


<% if @tasks.any? %>
<table class="table table-striped">
  <thead>
    
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>メッセージ</th>
      <th>ユーザーID</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <% user = task.user %>

    <tr>
      <td><%= link_to task.user_id, task %></td>
      <td><%= task.status %></td>
      <td><%= task.content %></td>
      <td><%= task.user_id %></td>
      <td><%= link_to "Delete",task,method: :delete, data: {confirm: "You sure?"},class: 'btn btn-danger btn-xs' %></td>
    </tr>

  <% end %>
  
  </tbody>
</table>
  <div>
    <%= paginate @tasks %>
  </div>

<% end %>
<%= link_to '新規メッセージの投稿', new_task_path, class: "btn btn-primary" %>